@media (max-width: 1000px) {
	.container-price {
		height: 80vh;
	}
	.consulta {
		font-size: 0.7rem;
		li {
			margin: 1.2rem 0rem;
		}
	}
	.plan1 {
		font-size: 0.7rem;
		li {
			margin: 0.6rem 0rem;
		}
	}
	.plan2 {
		font-size: 0.7rem;
		li {
			margin: 0.5rem 0rem;
		}
	}
}
